#assignStaff > div{
    max-height:300px;
    overflow-y:auto;
    cursor:pointer
}

@media print
{
body, * { visibility: hidden;  max-height:297mm;}
.page-break	{ display: none; }
#viewQR * { visibility: visible;  }
}
